*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
/* Main Styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    scroll-behavior: smooth; 
}
a{
    text-decoration: none;
    color: #2b3673;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
/* Navbar Styling */
#navbar{
    overflow: auto; 
    font-size: 24px;
}
#navbar a{
    color: rgb(121, 18, 18);
}
#navbar h1{
    color: #fff;
    float: left;
    padding-top: 20px;
    margin-left: 10px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
}
#navbar ul li:hover{
    text-decoration: underline;
}
/* Section styling */
section{
    width: 100%;
    height: 120vh;
    float: left;
}
#home-page{
    color: #fff;
}
#rep-max-section{
    background-color:rgb(166, 245, 255);
    padding-bottom: 5px;
}
#training-log-section{
    background-color: rgb(255, 209, 209);
    padding-bottom: 5px;
}
/* Home page */
#bg-img{
    background-image: url("./images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg");
    min-height: 760px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Footer styling */
#main-footer{
    text-align: center;
    background: #2b3673;
    color: #fff;
    padding: 20px;
}
