@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    font-family: 'Poppins', sans-serif;
    color:black;

    /* background-color: #24252a; */

}
li, a, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
    position:fixed;
    top:0;
    width:100%;
}
.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease  0s;
}
.nav__links li a:hover {
    color: #0088a9;
}
button {
    padding: 10px 30px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

#noDot li {
    list-style-type: none;
}

h1,h2,h3{
    padding: 20px;
}
p{
    padding: 20px;
}

/* Section styling */
section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: center;
    text-align: center;
}
/* Home Page Stying */
#home-page{
    /* color: #fff; */
    background-color:cornsilk;
    text-align: center;
    padding:15%;
}
#home-page h1{

    font-size: 70px;
}
#home-page p{
    font-size: 30px;
}
/* Calculate Rep-max Styling */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px royalblue;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
  }
#rep-max-section{
    background-color:lightcoral;
    padding: 8%;

}
#rep-max-section p {
    font-size: 30px;
}
select {
    margin-bottom: 30px;
    width:100%;
    height:50px;
    outline-color:royalblue;
}

#training-log-section{
    background-color: lightgreen;
    padding:5%;
    /* padding-bottom: 5px; */
}
#training-log-section h1 {
    font-size: 70px;
}

/* Footer styling */

#main-footer{
    text-align: center;
    background-color:lightyellow;
    color:black;
    padding: 5;
}
