*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color: #2b3673;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
/* Navbar Styling */
#navbar{
    background: #2b3673;
    color: #fff;
    overflow: auto; 
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
}
#navbar ul li:hover{
    background: #273063;
}

/* .logo{
    display: block;
    max-height: 20px;
    width: auto;
    margin: 3px;
    border-radius: 5%;
}
.logo:hover{
    background: #273063;
} */
/* body{
    max-width:max-content;
    margin: 20px auto;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
form{
    background:#f4f4f4;
}
form input{
    padding: 8px;
    margin: 40% auto;
}
#weight{
    margin:auto;
    width:max-content;
}
#week-list-div{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    text-align: center;
} */

/* form{
    
    height: 100px;
    width: 500px;
    background-color: #f4f4f4;
    margin-top:100px;
}
form label{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    position: absolute;
    top: 20px;
    text-align: center;
}
form input{
    margin-top: 100px;
    position: absolute;
    top: 40px;
    left: 43%;
    padding: 5px;
}
#message{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#output{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}
div{
    border: #f4f4f4 solid ;
    margin-top: 10px;
    
} */